﻿@using SportsStore1.Domain.Entities
@model SportsStore1.WebUI.Models.ProductsListViewModel


@{
    ViewBag.Title = "Products";
}

@foreach(var p in Model.Products)
{
        <div>
            <h3>@p.Name</h3>
            @p.Description
            <h4>@p.Price.ToString("c")</h4>
        </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

