﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Unit Testing Javascript?</h1>
</div>

<div class="row">
    <div class="regularForm">
        <form id="generateCal">
            <fieldset>
                <legend>Select a date to generate a calendar</legend>
                <label for="dateSelect">
                    <span>Date: </span>
                    <input type="text" id="dateSelect" name="dateValue" maxlength="10" required /> (<em>mm/dd/yyyy</em>)
                    <span id="dateEntry" class="error"></span>
                    <br />
                    <input type="submit" value="Generate" />
                </label>
            </fieldset>
        </form>
    </div>
    <div id="theCalendar">
        <!-- Javascript will put the calendar here -->
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/hw2.js"></script>
}