﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.regularForm {
    width: 50%;
    min-width: 400px;
}

fieldset {
    line-height: 2em;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: large;
    color: #505050;
}

th {
    background-color: #8C8C8C;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid #CCCCCC;
    padding: 10px 10px;
}

    td.today {
        border: 2px solid #CC3300;
    }

tr:nth-child(odd) {
    background-color: #F3F3F3;
}